*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #89c15e;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  padding: 2rem;
}
.scroreBoard {
  display: flex;
  width: 670px;
  height: 150px;
  border: 2px solid #ffffff;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 12px;
  /* margin-bottom: 20rem; */
}

.scoreContainer {
  display: flex;
  gap: 1rem;
}
.names {
  color: #ffffff;
  font-size: 2rem;
}
.score {
  font-size: 1rem;
  color: #656565;
  background-color: #ffffff;
  text-align: center;
  padding: 0.6rem;
  justify-content: center;
  width: 130px;
  /* height: 125px; */
  border-radius: 8px;
}
.scoreNum {
  font-size: 3.2rem;
  color: black !important;
  font-weight: bold;
}
.gameBoard {
  display: grid;
  place-items: center;
  justify-items: center;
  position: fixed;
  top: 50%;
}
.line {
  width: 260px;
  height: 0px;
  border: 7px solid #000000a3;
}
.line-2 {
  transform: rotate(60deg);
  position: relative;
  right: 54px;
  top: 104px;
}
.line-3 {
  transform: rotate(120deg);
  position: relative;
  left: 74px;
  top: 82px;
}
.action {
  width: 150px;
  height: 150px;
  background-color: #ffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.rockAction {
  position: absolute;
  right: 65%;
  bottom: -46px;
  border: 16px solid #0074b6;
}
.paperAction {
  position: absolute;
  left: 66%;
  bottom: -46px;
  border: 16px solid #ffa943;
}
.scissorAction {
  position: absolute;
  top: 125px;
  left: 63px;
  border: 16px solid #bd00ff;
}
.resultBoard {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  display: none;
}
.rockAction img:hover,
.paperAction img:hover {
  transform: scale(1.2);
}
.scissorAction img:hover {
  transform: scale(1.3);
}
.rockAction:hover {
  border: 10px solid #0074b6;
  box-shadow: none;
  filter: drop-shadow(-1px 1px 11px rgba(255, 255, 255, 0.35));
  transition: all 0.01s ease-in-out;
  cursor: pointer;
}

.paperAction:hover {
  border: 10px solid #ffa943;
  box-shadow: none;
  filter: drop-shadow(-1px 1px 11px rgba(255, 255, 255, 0.35));
  transition: all 0.01s ease-in-out;
  cursor: pointer;
}

.scissorAction:hover {
  border: 10px solid #bd00ff;
  box-shadow: none;
  filter: drop-shadow(-1px 1px 11px rgba(255, 255, 255, 0.35));
  transition: all 0.01s ease-in-out;
  cursor: pointer;
}
.firstOuterDiv {
  padding: 2rem;
  background-color: #289a27;
  border-radius: 50%;
}
.secondOuterDiv {
  padding: 2rem;
  background-color: #32a62f;
  border-radius: 50%;
}
.thirdOuterDiv {
  padding: 1.5rem;
  background-color: #66b248;
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
}
.action_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pickedActionText {
  position: fixed;
  top: -48px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 2.4px;
}
.result {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultText_wrapper h3 {
  font-size: 40px;
  letter-spacing: 5px;
}
.resultText_wrapper p {
  font-size: 25px;
  letter-spacing: 2px;
}
.replayBtn {
  background-color: #ffffff;
  color: #6b6b6b;
  padding: 0.7rem 1.7rem;
  font-size: 16px;
  font-weight: 600;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}
.btn_wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.7rem;
}
.btn {
  background-color: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  font-size: 18px;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffff;
  color: #6b6b6b;
  transition: all 0.2s ease-in-out;
}
.rules_box {
  position: absolute;
  right: 40px;
  bottom: 80px;
  color: #ffffff;
  width: 300px;
  background-color: #004429;
  border: 7px solid #ffffff;
  border-radius: 13px;
  padding: 2rem;
  display: none;
}
.closeBtn {
  position: absolute;
  position: absolute;
  width: 60px;
  height: 60px;
  right: -31px;
  top: -29px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.rulesHeading{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}
.rules_box >ul>li{
  font-size: 0.8rem;
  text-align: justify;
  list-style: none;
  margin-bottom: 0.6rem;
  /* letter-spacing: 1px; */
}
li img{
  margin-right: 6px;
}
#nextBtn{
  display: none;
}
.rock{
  border: 16px solid #0074b6;
}
.paper{
  border: 16px solid #ffa943;
}
.scissor{
  border: 16px solid #bd00ff;
}
